{% extends 'base.html.twig' %}

{% block title %}BindTest On The Flex!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ asset('js/youtube.js') }}"></script>
        <script src="{{ asset('js/ajax.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/menu.js') }}"></script>
        <script src="{{ asset('js/report.js') }}"></script>
        <script src="{{ asset('js/propMusique.js') }}"></script>
        

        <link rel="icon" href="{{ asset('images/logo.png') }}" />
        

        <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/a393bd0d5f.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div>
    <header>
        <img src="{{ asset('images/logoBlindTest.png') }}" />
    </header>

    <div class="formulaire">
        <div class="boxForm">
            <h5>Durée</h5>
            <p>
                <h6>Durée de la musique : <span class="annotation">(en seconde)</span></h6>
                <input id="dureeMusique" type="number" value="25"/><br>
                <span class="annotation">Décompte + Réponse</span>
            </p>
            <p>
                <h6>Durée de la réponse : <span class="annotation">(en seconde)</span></h6>
                <input id="dureeReponse" type="number" value="5"/>
            </p>
        </div>
        


        <div class="boxForm">
            <h5>Difficulté</h5>
            <p>
                <input id="checkDiff1" type="checkbox" checked/> Facile<br>
                <input id="checkDiff2" type="checkbox" checked/> Difficile<br>
                <input id="checkDiff3" type="checkbox" checked/> Ultra difficile<br>
                <input id="checkDiff4" type="checkbox" checked/> Impossible<br>
            </p>
        </div>

        <div class="boxForm">
            <h5>Thème (s) :</h5>
            <div>
                <div>
                    <input id="checkThemeFilms" type="checkbox" checked/> Films<br>
                    <input id="checkThemeMusiques" type="checkbox" checked/> Musiques<br>
                    <input id="checkThemeJeuxVideo" type="checkbox" checked/> Jeux vidéo<br>
                    <input id="checkThemeSeries" type="checkbox" checked/> Séries<br>
                    <input id="checkThemeDessinAnime" type="checkbox" checked/> Dessin animé<br>
                </div>
                <div>
                    <input id="checkThemeFilmAnimation" type="checkbox" checked/> Film d'animation<br>
                    <input id="checkThemeManga" type="checkbox" checked/> Manga<br>
                    <input id="checkThemeMeme" type="checkbox" checked/> Même<br>
                    <input id="checkThemeYoutuber" type="checkbox" checked/> Youtuber<br>
                    <input id="checkThemeRepliqueCulte" type="checkbox" checked/> Répliques cultes<br>
                </div>
            </div>
        </div>

        <div class="boxForm sousTheme">
            <h5>Musique style :</h5>
            <div>
                <div>
                    <input id="checkThemeAutre" type="checkbox" checked/> Autre<br>
                    <input id="checkThemeFrancais" type="checkbox" checked/> Français<br>
                    <input id="checkThemePopulaire" type="checkbox" checked/> Populaire<br>
                    <input id="checkThemeRap" type="checkbox" checked/> Rap<br>
                    <input id="checkThemeRock" type="checkbox" checked/> Rock<br>
                    <input id="checkThemePunk" type="checkbox" checked/> Punk<br>
                </div>
                <div>
                    <input id="checkThemeMetal" type="checkbox" checked/> Metal<br>
                    <input id="checkThemeReggae" type="checkbox" checked/> Reggae<br>
                    <input id="checkThemeElectro" type="checkbox" checked/> Electro<br>
                    <input id="checkThemeJazz" type="checkbox" checked/> Jazz<br>
                    <input id="checkThemeContry" type="checkbox" checked/> Country<br>
                    <input id="checkThemeNewwave" type="checkbox" checked/> New wave<br>
                </div>
            </div>
        </div>
    
    </div>


    <div id="nbMusiqueTotal"></div>
    <div id="button-start" class="button">NOUVELLE PARTIE <span><i class="fas fa-chevron-right"></i> <i class="fas fa-chevron-right"></i></span></div>

    <div id="Game">
        
        <div id="pause" onclick="fairePause()"><div><i class="far fa-pause-circle"></i></div><br></div>
        <span class="messagePause">La pause sera active à la fin de la musique</span>

        <div id="player"></div>

        <div id="compteur"></div>

        <div id="reponse"></div>

        <div id="report">signaler</div>

    </div>

    <div id="barreInfo">
        <div>
            <h4>Information :</h4>
            <div id="numberMusique">0/50 musiques</div>
            <div class="containerMusiquePasse"></div>
        </div>
    </div>

    

    
    <a href="/proposemusique" class="addMusique"><i class="fas fa-plus"></i> Ajouter des musiques</a>




</div>
{% endblock %}

